@import "variables";

@media (min-width: 768px) {
  h1 {
    font-size: 34px;
    span {
      font-weight: 500;
    }
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  .open-nav {
    height: 180px !important;
  }
  .btn-main {
    top: 20px;
  }
  .menu--head {
    padding: 8px;
    .name {
      a {
        color: $color2;
        h1 {
          font-size: 26px;
        }
        h1:nth-last-child(1) {
          display: block;
          font-size: 24px;
          margin: 5px 0 0 0;
          font-weight: 100;
          text-transform: uppercase;
          span {
            display: block;
          }
        }
      }
    }
    nav {
      font-size: 20px;
    }
  }
  #inner-img {
    height: 170px;
  }
  .text-content {
    font-size: 35px;
    p:first-child {
      display: inline-block;
      margin: 0 5px 0 0;
    }
    p {
      display: block;
      margin: 0 auto;
    }
    .text-main {
      display: inline-block;
      font-size: $font-size11;
    }
    .slider {
      li {
        font-size: $font-size12;
      }
    }
  }
  #services {
    .text {
      width: 85%;
      min-height: 8rem;
      font-size: 18px;
      font-weight: 200;
      text-align: center;
    }
  }
  #presentation {
    img {
      max-width: 300px;
      margin: 0 auto;
    }
    p {
      padding: 0 30px;
    }
  }
  #progress {
    .progress-pourcent {
      margin: 25px 0 0 0;
    }
    .img-sm {
      width: 42%;
    }
    .img {
      width: 21%;
    }
    .img-md {
      width: 24%;
    }
    .img-lg {
      width: 32%;
    }
  }
  #projet, #work {
    .content-link {
      font-size: 15px;
      a {
        p {
          font-size: 18px;
        }
      }
    }
  }
  #contact {
    min-height: inherit;
    form {
      overflow: hidden;
      margin: 0;
      .btn {
        width: 50%;
      }
    }
  }
  footer {
    text-align: left;
    h2 {
      font-size: 20px;
    }
    nav {
      float: right;
      margin: 0;
    }
    .mention-legal{
      clear: both;
      margin: 0;
      overflow: hidden;
      text-align: center;
    }
  }
}
