$font-size-default: 10px;
$font-size-h1: 24px;
$font-size-h1-tab: 24px;
$font-size-h1-desk: 26px;
$font-size-h2: 22px;
$font-size-h2-tab: 22px;
$font-size-h2-desk: 24px;
$font-size-h3: 20px;
$font-size-h3-tab: 20px;
$font-size-h3-desk: 22px;

$font-size2: 16px;
$font-size3: 18px;
$font-size4: 20px;
$font-size5: 22px;
$font-size6: 23px;
$font-size7: 24px;
$font-size8: 25px;
$font-size9: 30px;
$font-size10: 33px;
$font-size11: 35px;
$font-size12: 47px;
$font-size13: 68px;
$font-size14: 15px;
$font-size15: 40px;
$font-size16: 60px;
$font-size17: 32px;

$color1: #ffffff;
$color2: #74c7d5;
$color3: #228Ca8;
$color4: #229Cc8;
$color5: #000000;
$color6: #ccc;
$color7: #ddd;
$color8: #6a6a6a;
$color9: #999;
