@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?n7vfn');
	src:url('fonts/icomoon.eot?#iefixn7vfn') format('embedded-opentype'),
		url('fonts/icomoon.woff?n7vfn') format('woff'),
		url('fonts/icomoon.ttf?n7vfn') format('truetype'),
		url('fonts/icomoon.svg?n7vfn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circle-cross:before {
	content: "\e600";
}

.icon-flag:before {
	content: "\f024";
}

.icon-pencil:before {
	content: "\f040";
}

.icon-comment:before {
	content: "\f075";
}

.icon-wrench:before {
	content: "\f0ad";
}

.icon-bars:before {
	content: "\f0c9";
}

.icon-envelope:before {
	content: "\f0e0";
}

.icon-code:before {
	content: "\f121";
}

.icon-user:before {
	content: "\f007";
}

.icon-desktop:before {
	content: "\f108";
}

.icon-html5:before {
	content: "\f13b";
}

.icon-css3:before {
	content: "\f13c";
}

.icon-folder:before {
	content: "\e602";
}

.icon-mobile:before {
	content: "\e958";
}

.icon-tablet:before {
	content: "\e95a";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-file-openoffice:before {
	content: "\eadb";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css32:before {
	content: "\eae1";
}

